:root {
  --primary-color: #0c53d9;
  --secondary-color: #03ffe7;
}

html, body {
  background-color: var(--primary-color);
  color: white;
  background-image: url('../src/assets/bg-image.jpg');
  background-size: cover;
  height: 100dvh;
  padding: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
